* {
    margin: 0;
    padding: 0;
    text-align: center;
}


/* Header */

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    margin-top: 50px;
    max-width: 750px;
}


/* Card */

.card {
    margin: 20px;
    height: 100px;
    width: 75px;
    border: 1px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-deck {
    display: flex;
    justify-content: center;
}

.red {
    background-color: rgb(188, 3, 1);
}

.blue {
    background-color: rgb(5, 112, 187);
}

.yellow {
    background-color: rgb(205, 175, 3);
}

/* Reset */

.reset-btn {
    margin-top: 3rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}